html, body {
  font-family: Arial, Sans-serif;
/*
Background Art
https://encrypted-tbn2.gstatic.com/images q=tbn:ANd9GcQ985ToruKPNY6hYWrBaHYlPZVEDM8Jxyr3L_Q4gXMWvUwbSTxp\
*/
  background-image: url("../Images/Backart2.png");
  background-repeat: repeat;
      background-attachment: fixed;
      background-position: center;
      margin: auto;
      width: 100%;
}
.banner {
  width: 100%;
}

.banner2 {
	margin-left:0 auto;
	margin-right:0 auto;
}

.button {
	width: 75%;
}
.footer {
  background-color: orange;
  color: #FFFFFF;
  position:fixed;
  font-family: sans-serif;
  width:100%;
  bottom: 0;
  left: 0;
}

#bold {
  font-weight: bold;
}

.center {
  text-align: center;
  width: 50%;
  margin: auto;
}

.text {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 22px;
}

.text_small {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.header_text {
	width: 80%;
	margin: auto;
	text-align: center;
	font-family: Arial, sans-serif;
}

.padding {
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.specpadding {
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 0px;
    padding-left: 200px;
}

.imagealign {
  text-align: center;
  margin-right:0 auto;
  margin-left:0 auto;
  width:100%;
}

#topAlign {
  vertical-align: top;
}

.form {
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
}

.input_field {
	width: 50%;
}
